
body {
    font-family: Arial, sans-serif;
}
.list-container {
    width: 10%;
    float: left;
}
.list-container div {
    width: 100%;
    padding: 0.1em;
}
.list-container img {
    width: 100%;
}
.list-container div div{
    text-align: center;
}
.container {
    width: 75%;
    float: left;
    padding: 0.5em;
}
.container img {
    width: 100%;
}
#name, #counter {
    text-align: center;
}
#admin-button, #admin-form {
    display: none;
}
#admin-form {
    width: 75%;
    float: right;
}
#admin-form div{
    width: 100%;
    clear: both;
}
#admin-form input {
    width: 80%;
    float: right;
    margin-top: 0.2em;
}
#admin-form label {
    width: 18%;
    float: right;
    margin-top: 0.4em;
}
#admin-form button {
    width: 6em;
    float: right;
    margin-top: 0.4em;
    margin-left: 0.4em;
}